## Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

## VAGRANT
.vagrant
*.box

## TOX
*.tox

## Mkdocs documentation
site/

## Logs
logs/

## ARCHIVES
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
